In [12]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [13]:
#df = pd.read_csv(r"/home/kdudesmith/Dropbox/College/Jackman_Research/data_prep/validation_list_no_transition.csv")
df = pd.read_csv(r"C:\Users\kdude\Dropbox\College\Jackman_Research\data_prep\validation_list_no_transitions.csv")

In [14]:
df.head()

,Date,X_MSO,Y_MSO,Z_MSO,B_X_MSO,B_Y_MSO,B_Z_MSO,Location,OrbitNo
0,2011-03-26 13:57:25,-507.206,0.964,2698.946,173.454,-10.121,-410.512,0,5.0
1,2011-03-26 13:57:26,-509.802,-1.484,2697.876,174.209,-9.432,-410.430,0,5.0
2,2011-03-26 13:57:27,-512.398,-3.932,2696.802,175.033,-8.732,-410.303,0,5.0
3,2011-03-26 13:57:28,-514.993,-6.380,2695.725,175.959,-8.011,-410.266,0,5.0
4,2011-03-26 13:57:29,-517.588,-8.828,2694.646,176.928,-7.300,-410.244,0,5.0

In [15]:
(X_train, X_test, y_train, y_test) = (df.drop(["Location" , "OrbitNo", "Date"], axis = 1).iloc[0:int(0.3*len(df))], 
                                     df.drop(["Location" , "OrbitNo", "Date"], axis = 1).iloc[int(0.3*len(df)):int(0.4*len(df))], 
                                      df["Location"].iloc[0:int(0.3*len(df))],
                                      df["Location"].iloc[int(0.3*len(df)):int(0.4*len(df))])
del df

In [16]:
X_train.head()

     X_MSO  Y_MSO     Z_MSO  B_X_MSO  B_Y_MSO  B_Z_MSO
0 -507.206  0.964  2698.946  173.454  -10.121 -410.512
1 -509.802 -1.484  2697.876  174.209   -9.432 -410.430
2 -512.398 -3.932  2696.802  175.033   -8.732 -410.303
3 -514.993 -6.380  2695.725  175.959   -8.011 -410.266
4 -517.588 -8.828  2694.646  176.928   -7.300 -410.244

In [17]:
print((y_train.value_counts()/len(y_train))*100)

2    80.754357
0     9.733578
1     9.512065
Name: Location, dtype: float64

In [7]:
model = tf.keras.Sequential() 
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(5, activation=tf.nn.softmax))

In [8]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [9]:
X_train = np.asarray(X_train).astype('float32')
y_train = np.asarray(y_train).astype('float32')

model.fit(X_train, y_train, batch_size = 32, validation_split = 0.15, epochs = 3)

Epoch 1/3
159936/159936 [==============================] - 202s 1ms/step - loss: 0.2484 - accuracy: 0.9844 - val_loss: 2.6644 - val_accuracy: 0.9703
Epoch 2/3
159936/159936 [==============================] - 223s 1ms/step - loss: 0.0386 - accuracy: 0.9911 - val_loss: 0.1377 - val_accuracy: 0.9790
Epoch 3/3
159936/159936 [==============================] - 227s 1ms/step - loss: 0.0307 - accuracy: 0.9925 - val_loss: 0.2203 - val_accuracy: 0.9646

In [10]:
X_test = np.asarray(X_test).astype('float32')
y_test = np.asarray(y_test).astype('float32')

val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss)
print(val_acc)

37632/37632 [==============================] - 30s 797us/step - loss: 1.6347 - accuracy: 0.9511
1.634663462638855
0.9510588049888611

37710/37710 [==============================] - 224s 6ms/step - loss: 2.3397 - accuracy: 0.9542
2.3397367000579834
0.9541661143302917